# Visual Studio
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Build
[Bb]in/
[Oo]bj/
TestResults/

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg

# Logs
*.log
logs/

# ASP.NET
appsettings.Development.json

# User Secrets
**/secrets.json

# EF
*.dbmdl

# OS
Thumbs.db
Desktop.ini
.DS_Store